h2 {
  color: blue;
}

.Nav {display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(147, 168, 187, 0.767);
  border-radius: 10px;
}

ul{
  display: flex;
  gap: 30px;
  justify-content:center;
  list-style-type: none;
}
